
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


header {
    color: black;
    background-color: #ffc8dd;
    height: auto;
    min-height: 45px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

a {
    color: #ff6392;
}
footer {
    color: black;
    background-color: #ffc8dd;
    height: auto;
    min-height: 45px;
    width: 100%;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}
section {
    width: 100%;
    height: auto;
    min-height: 50px;
    display: table;
    clear: both;
}
nav {
    height: auto;
    min-height: 1000px;
    width: 15%;
    background-color: #bde0fe;
    float: left;
}
article {
    height: auto;
    min-height: 1000px;
    width: 15%;
    background-color: #bde0fe;
    float: right;
    text-align: center;
}
body{
    background-color:#a2d2ff;
    font-family: "Ubuntu", sans-serif;
    /*margin: 0px auto;*/
}

h2 {
    text-align: center;
}
p {
    text-align: center;
}
img{
    border: 5px solid #5E377A;
}
.titulos_DVD{
    margin-left: 25px;
}
.poster_article {
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #5E377A;
}

div {
  width:20%;
  float:left;
  text-align: center;
}

.encabezado {
  width: 70%;
  text-align: center;
  float: left;
}

.titulo {
  margin: 0%;
  border: 0px;
}
.titulo_texto {
  font-size: 200%;
}
.titulo_articulo {
  margin: 5%;

}

.cuerpo {
  width: 45%;
  margin-left: 28%;
  text-align: center;
}

